/node_modules
/public/hot
/public/pdf
/public/storage
/storage/*.key
/storage/baidu_pay/*
/resources/wechat_pay
/resources/views/lianwen_test
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
/config/pay.php

